<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telecom.project4t.testactivity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BeaconReferenceAppilcation"
        android:allowBackup="true"
        android:icon="@mipmap/app_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_ic_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NearbyFeed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- uncomment the following to enable scanning for over 30 minutes on Android 7+ -->
        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace">
            <meta-data
                android:name="longScanForcingEnabled"
                android:value="true" />
        </service>

    </application>

</manifest>